$content-max-width: 370px;

.content-container {
  max-width: $content-max-width;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  gap: 0.5em;

  button {
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5em 1em;
    color: DarkOliveGreen;
    background-color: floralwhite;
    border: 1px solid green;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px seagreen;

    &:active {
      color: white;
      background-color: darkseagreen;
    }
  }

  .canvas-game {
    justify-self: center;
    border: 1px solid gray;
    background-color: black;
  }

  .range-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    label {
      grid-row: 1;
      grid-column: 1;
    }
    output {
      justify-self: center;
      grid-row: 1;
      grid-column: 2;
    }
    input[type="range"] {
      grid-row: 2;
      grid-column: 1 / 3;
    }
  }

  .info-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 1rem;

    span {
      display: block;
      padding: 0.5em;
      font-size: inherit;
      text-align: center;
      color: white;
      background-color: limegreen;

      &.danger-value {
        background-color: red;
      }

      &.over-value {
        background-color: green;
      }
    }
  }
}
