<div class="content-container">
  <button class="button-new-game" (click)="newGame()">New Game</button>
  <canvas #canvasGame class="canvas-game" width="400" height="600"></canvas>
  <div class="info-container">
    <span class="info-fuel">{{ fuelAmount }} liters</span>
    <span class="info-velocity">{{ velocity }} m/s</span>
  </div>
  <button
    class="button-engine"
    (mousedown)="turnOnEngine()"
    (mouseup)="turnOffEngine()"
    (mouseleave)="turnOffEngine()"
  >
    Turn On Engine
  </button>
</div>
