<div class="content-container">
  <div class="range-container">
    <label for="rangeAltitude">Initial altitude (m) </label>
    <output #outputAltitude for="rangeAltitude">{{ valueAltitude }}</output>
    <input
      #rangeAltitude
      [disabled]="!imagesLoaded"
      id="rangeAltitude"
      type="range"
      min="{{ minAltitude }}"
      max="{{ maxAltitude }}"
      value="{{ valueAltitude }}"
      (input)="outputAltitude.value = rangeAltitude.value"
    />
  </div>
  <div class="range-container">
    <label for="rangeFuelAmount">Initial fuel amount (liters) </label>
    <output #outputFuelAmount for="rangeFuelAmount">{{
      valueFuelAmount
    }}</output>
    <input
      #rangeFuelAmount
      [disabled]="!imagesLoaded"
      id="rangeFuelAmount"
      type="range"
      min="{{ minFuelAmount }}"
      max="{{ maxFuelAmount }}"
      value="{{ valueFuelAmount }}"
      (input)="outputFuelAmount.value = rangeFuelAmount.value"
    />
  </div>
  <div class="range-container">
    <label for="rangeAcceleration">Ship acceleration (m/s<sup>2</sup>) </label>
    <output #outputAcceleration for="rangeAcceleration">{{
      valueShipAcceleration
    }}</output>
    <input
      #rangeAcceleration
      [disabled]="!imagesLoaded"
      id="rangeAcceleration"
      type="range"
      min="{{ minShipAcceleration }}"
      max="{{ maxShipAcceleration }}"
      value="{{ valueShipAcceleration }}"
      step="0.1"
      (input)="outputAcceleration.value = rangeAcceleration.value"
    />
  </div>
  <div class="range-container">
    <label for="rangeSafeVelocity">Max landing velocity (m/s) </label>
    <output #outputSafeVelocity for="rangeSafeVelocity">{{
      valueSafeVelocity
    }}</output>
    <input
      #rangeSafeVelocity
      [disabled]="!imagesLoaded"
      id="rangeSafeVelocity"
      type="range"
      min="{{ minSafeVelocity }}"
      max="{{ maxSafeVelocity }}"
      value="{{ valueSafeVelocity }}"
      step="0.1"
      (input)="outputSafeVelocity.value = rangeSafeVelocity.value"
    />
  </div>
  <button
    class="button-new-game"
    (click)="newGame()"
    [disabled]="!imagesLoaded"
  >
    New Game
  </button>
  <canvas #canvasGame class="canvas-game" width="370" height="500"></canvas>
  <div class="info-container">
    <span class="info-fuel" [class.danger-value]="dangerFuelAmount"
      >{{ fuelAmount | number: "1.1-1" }} liters</span
    >
    <span class="info-altitude">{{ altitude | number: "1.1-1" }} m</span>
    <span
      class="info-velocity"
      [class.danger-value]="dangerVelocity"
      [class.over-value]="positiveVelocity"
    >
      {{ velocity | number: "1.1-1" }} m/s
    </span>
  </div>
  <button
    class="button-engine"
    (pointerdown)="turnOnEngine()"
    (pointerup)="turnOffEngine()"
    (pointerleave)="turnOffEngine()"
    (pointerout)="turnOffEngine()"
  >
    Turn On Engine
  </button>
</div>
