.content-container {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  gap: 0.5em;

  button {
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5em 1em;
  }

  .canvas-game {
    border: 1px solid gray;
    background-color: black;
  }

  .info-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    font-size: 1rem;

    span {
      font-size: inherit;
    }
  }
}
